<!DOCTYPE html>
<html>
<head>
    <title>Blockchain Demo</title>
    <link href="../static/output.css" rel="stylesheet">

</head>
<body class="bg-gray-100">
    
    <div class="flex flex-col items-center justify-center mt-10 bg-gray-100">
        <h1 class="text-4xl font-bold text-center mb-4">Welcome to a Simple Blockchain Demo</h1>
        <h2 class="text-2xl text-center mb-2">Sign in or create a new user below</h2>
        <h2 class="text-xl text-center">Each user starts off with 500 credits upon user creation. Credits can be used to trade with other users.</h2>
    </div>
    

    <div class="flex flex-row items-center justify-center mt-10">
      <form method="POST" action="{{ url_for('signupOrRegister') }}">
        {{ formLogin.hidden_tag() }}<br>
        {{ formLogin.username.label }} {{ formLogin.username(size=20) }}<br>
        {{ formLogin.password.label }} {{ formLogin.password(size=20) }}<br>
        <button type="submit" name="submit" value="Login">Login</button>
    </form>
    
    <!-- Register Form -->
    <form method="POST" action="{{ url_for('signupOrRegister') }}">
        {{ formRegister.hidden_tag() }}<br>
        {{ formRegister.username.label }} {{ formRegister.username(size=20) }}<br>
        {{ formRegister.password.label }} {{ formRegister.password(size=20) }}<br>
        <button type="submit" name="submit" value="Register">Register</button>
    </form>

    </div>
    
</body>
</html>
